html {
    scroll-behavior: smooth;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #dddddd;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #bbbbbb;
}


.navbar {
    background-color: #dddddd;
    color: #222831;
    padding: 1.5rem 0;
    border: 1px solid #ccc;
}

.nav-item {
    margin: 0;
    text-align: left;
    font-size: 1.1rem;
    font-family: 'Ruda', sans-serif;
    padding-left: 1rem;
    color: #222831;
    font-weight: 700;
}

.nav-link {
    color: #222831;
    text-transform: uppercase;
    font-family: 'Ruda', sans-serif;
    font-weight: 900;
    font-size: .9rem;
}

.nav-link:hover {
    color: #8f384d;
}

.nav-link:active,
.nav-link:focus {
    background-color: #ccc;
    border-radius: 8px;
}

.right {
    float: right;
}

#navbar {
    /* overflow: hidden; */
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    /* z-index: 99; */
}

#navbar #logo {
    transition: 0.4s;
}

.submenu {
    font-weight: 700;
}



.navbar-brand {
    font-size: 1.1rem;
    font-family: 'Ruda', sans-serif;
    padding: 0.5rem;
    font-weight: 900;
    color: #222831;
}

.navbar-brand:hover {
    color: #8f384d;
    font-size: 1.1rem;
    font-family: 'Ruda', sans-serif;
    padding: 0.5rem;
    font-weight: 900;
}

.dropdown-menu {
    color: #222831;
    background-color: #ddd;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0px;
    width: auto;
    top: 3rem;
    margin: 0px;
    border-radius: 8px;

}

.dropdown-menu a {
    padding: .5rem;
    text-decoration: none;
    color: #222831;
    text-transform: uppercase;
}

.dropdown:hover .dropdown-menu {
    color: #8f384d;
    background-color: #ddd;
}

.dropdown {
    color: #222831;
    background-color: #ddd;
    border-radius: 8px;
    /* display: inline-block; */
}

.dropdown:active,
.dropdown:focus {
    border: 2px solid #ccc;
    background-color: #ddd;
}

.dropdown-item {
    background-color: #ddd;
    text-align: left;
    font-weight: 700;
    border-radius: 8px;
}

.dropdown-item:hover {
    color: #8f384d;
    background-color: #dddddd;
    border-radius: 8px;
    border: 2px solid #bbb;
}

.dropdown-item .active {
    color: #8f384d;
    font-weight: 900;
    border-radius: 8px;

}


.dropdown-item:active,
.dropdown-item:focus {
    background-color: #ccc;

    border-radius: 8px;
    border: 2px solid #aaa;
}

.dropdown-item:hover {
    background-color: #cccccc;
    border-radius: 8px;
}

.dropdown-item.active {

    background-color: #ddd;
    border: 1px solid #bbb;
    color: #222831;
}

.drop-item {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #cccccc;
}

.main-title {
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    padding: 3rem 0 1rem 0;
    font-family: 'Ruda', sans-serif;
}

.titles {
    color: #8f384d;
}

.main-hr {
    max-width: 200px;
    margin: 0 auto;
    border-radius: 3px;
    border-top: 4px solid #222831;
}

.main-home {
    display: block;
    margin: 5rem auto;
    position: relative;
    max-width: 800px;
    text-align: center;
    padding: 2rem 0;
}

.main-subtitle {
    font-size: 1.5rem;
    font-family: 'Ruda', sans-serif;
    color: #222831;
    padding: 1rem 2rem;
    display: block;
    font-weight: 300;
}

svg {
    color: #222831;
}

svg:hover {
    fill: #8f384d;
}

.icon-language {
    width: 1.2rem;
    height: 1.2rem;
    padding: 0;
}



.home {
    width: 1.2rem;
    filter: invert(13%) sepia(3%) saturate(3458%) hue-rotate(177deg) brightness(95%) contrast(93%);
    margin: 0 0 0 16px;
    padding: 0;

}

.home:hover {
    filter: invert(26%) sepia(77%) saturate(659%) hue-rotate(299deg) brightness(88%) contrast(86%);
}

.home {
    filter: invert(13%) sepia(3%) saturate(3458%) hue-rotate(177deg) brightness(95%) contrast(93%);
    background: url("../img/home.svg") no-repeat;
    width: 1.4rem;
    height: 1.3rem;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin-left: 1rem;
}

.home:hover {
    filter: invert(26%) sepia(77%) saturate(659%) hue-rotate(299deg) brightness(88%) contrast(86%);
    background: url("../img/homefill.svg") no-repeat;
    width: 1.4rem;
    height: 1.3rem;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin-left: 1rem;
}

.nav-arrow {
    width: 1rem;
    filter: invert(13%) sepia(3%) saturate(3458%) hue-rotate(177deg) brightness(95%) contrast(93%);
    margin: 0;
    padding: 0;
}

.dropbottom {}



.icons {
    padding: 0 .5rem;

}

.icons-color {
    width: 2.5rem;
    height: 2.5rem;
}



.copyrights {
    font-weight: 300;
    font-size: 1rem;
    color: #777;
    padding: 1.5rem 0;
    text-align: center;
}

.div-icons {
    max-width: 100px;
    margin: 2rem auto 0;

}

.filter-virus {
    filter: invert(13%) sepia(3%) saturate(3458%) hue-rotate(177deg) brightness(95%) contrast(93%);
    width: .5rem;
    height: .5rem;
    position: relative;
    bottom: 0.1rem;
    margin: 0 .5rem;
}

.fiocruz {
    width: 4rem;
    filter: invert(13%) sepia(3%) saturate(3458%) hue-rotate(177deg) brightness(95%) contrast(93%);
    text-align: center;
    padding: 1.5rem 0;
    margin-right: 2rem;

}

.inova {
    width: 5rem;
    padding: 0;
    margin-right: 2rem;
}

.fiocruz:hover,
.inova:hover,
.icoda:hover,
.hdruk:hover,
.gates:hover,
.agradecimentos-img:hover {
    filter: invert(26%) sepia(77%) saturate(659%) hue-rotate(299deg) brightness(88%) contrast(86%);
}


.icoda {
    width: 6rem;

    padding: 0;
    margin: 1rem 2rem 2rem 0;
}

.hdruk {
    width: 7rem;
    height: 3rem;
    object-fit: cover;
    padding: 0;
    margin: 1.5rem 2rem 2rem 0;
}

.gates {
    width: 10rem;

    padding: 0;
    margin: 0 2rem 2rem 0;
}

.flaticon-img {
    width: 8rem;
    max-height: 3.5rem;
    margin: 0 2rem;
    padding: 0rem;
}

.agradecimentos-img {
    width: 70%;
    height: 2rem;
    margin: 1rem 2rem;

}

.jusbr {
    height: 1.8rem;

}

.cidacs {
    height: 5rem;

}

.ufmg {
    height: 2.1rem;

}

.cmup {

    height: 4rem;
    object-fit: cover;
    padding: 0.7rem 0;
    margin: 0 2rem;
}

.instituicao {
    font-size: 1rem;
    font-weight: 700;
    margin: 1rem 2rem;
    text-align: left;


}

.card-agradecimentos {
    width: 100%;
    margin: 0 0 1rem 0;

}

.agradecimentos {
    padding: 2rem;
}

.agradecimentos:hover {
    filter: invert(26%) sepia(77%) saturate(659%) hue-rotate(299deg) brightness(88%) contrast(86%);
}


.apoioh2 {
    font-size: 1.5rem;
    padding: 1rem 0;
    margin: 0;
}

.support {
    font-size: 1.1rem;
    font-weight: 400;
    text-align: left;
    padding: 1rem 0;
}

.footer {
    background-color: #dddddd;
    color: #222831;
    padding: 2rem 5rem;
    border: 1px solid #ccc;

}

hr {
    border-top: 10px dotted #ccc;
    width: 5%;
    margin: 2rem auto;
}

h1 {
    font-size: 2.rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #222831;
}

body {
    line-height: 1.8;
    font-family: 'Ruda', sans-serif;
    text-align: justify;
    font-size: 1rem;
}

h2 {
    font-weight: 900;
    font-size: 1.9rem;
    margin: 1rem 0;
    color: #222831;
}

h3 {
    font-size: 1.7rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    column-span: all;
}

h4 {
    font-size: 1.5rem;
    column-span: all;
    font-weight: 700;
}

iframe {
    border: none;
}

a {
    text-decoration: none;
    color: #30475e;
}

a:hover {
    font-weight: bold;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.media-left {
    width: 30%;
}

.media {
    display: flex;
    align-items: center;
}

.media .media-left {
    text-align: center;
}

.img-covida {
    width: 60%;
}

.img-covida:hover {
    filter: invert(26%) sepia(77%) saturate(659%) hue-rotate(299deg) brightness(88%) contrast(86%);
}

.colaborators {
    column-count: 2;
    column-gap: 5rem;
    column-rule: 1px solid #ccc;
    padding: 2rem 4rem;
}

.colaborators h4 {
    margin-bottom: 0;
    text-align: center;
}





.div-media {
    margin: 3rem 0;
    border: 1px solid #ccc;
    border-radius: 16px;

}

.middle {
    border: 1px solid #eee;
    margin-top: 4rem;
    background-color: #f9f9f9;
    padding: 4rem 10rem 5rem;
}

.bottom {
    margin: 5rem 10rem;
}

.top {
    margin-top: 5rem;
    padding: 5rem 10rem 0;
}

.img-team {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #000;
    margin: 1rem auto;
    border: 1px solid #ccc;
}

.card-body {
    font-size: 0.9rem;
    padding: 1rem 2rem 0;

}

#acknowledge .card {


    text-align: center;
    padding: 0.5rem;

}

.card-header {
    text-align: center;
    padding-top: 10px;
    border-radius: 100%;
    width: 100%;

}

.card-header:first-child {
    border-radius: 16px;
}


.card,
.col {
    border-radius: 16px;

}

.card-ackn {
    padding: 0;
    margin: 0;
    width: 40%;
    border-right: 1px dashed #ccc;
}


.columns-team h2 {
    font-size: 1.3rem;
}

.columns-team {
    padding: 0;
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    /* max-width: 31%; */
    margin-bottom: 0rem;

}

.margin-bottom {
    margin-bottom: 3rem;
}

.ul-agradecimentos {
    list-style-type: none;
    padding: 0;
}

.ul-agradecimentos li {
    margin: 0;
}

.cvbutton {
    background-color: #8f384d;
    border: none;
    color: white;
    padding: .4rem;
    margin: .5rem;
    width: 100%;
    border-radius: 16px;
}

.white {
    background-color: white;
    border: 0;
}

.destaque {
    text-transform: uppercase;
    font-weight: bold;
    color: #8f384d;
}

.destaque:hover {

    color: #007bff;
}

.intro {
    padding: 2rem .3rem;
    column-count: 2;
    column-gap: 5rem;
    column-rule: 1px solid #ccc;
    /* border: 1px solid black; */
}

.cvbutton:hover {
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.5);
    font-weight: 700;
}


.btn-info {
    padding: 0.2rem 1rem;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #222831;
    border: none;
    color: white;
    padding: .4rem;
    border-radius: 16px;
}

/* .row .columns-team:not(:first-child) {
    background-color: red;
} */

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {}

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }

    .dropdown:hover .dropdown-menu {
        box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
    }
}

@media all and (max-width: 991px) {
    .navbar .nav-item:focus .dropdown-menu {
        display: block;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }

    .dropdown:hover .dropdown-menu {
        border: 0;

    }

}

@media only screen and (max-width: 1065px) {
    .dropdown-content {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
        right: 0;
        top: 0;
    }

    .dropdown-item {
        padding-left: 1rem;
    }

    .submenu {
        margin-left: 2rem;

    }

    .sub-drop {

        padding: 0;
        background-color: #900d0d;

    }

    .dropdown-submenu .dropdown-menu {

        margin-left: 5rem;
    }

    #projeto {
        column-count: 1;
    }

    h1 {
        font-size: 1.5rem;
    }
}