/* 
#8D240F #F7A621 #E74507 #FFDB10 #501400 #752D00 #984C09 
#581C0C #BB3B0E #DD7631 #708160 #B2B8A3 #D8C593 #E7D4B5
#290001 #87431D #C87941 #DBCBBD #FDFAF6 #F9F1BF #FFF8B6 #FFF8D9 #D5DBB3 #EFEFEF #FDFCE5 #F9F3DF
#5E454B #C7B198 #E29C68 #E0BB20 #343434 #957541 #8f384d
#2D2424 #5C3D2E #B85C38 #E0C097 #222831 #30475e 
#f9f3eb #ccc    #ddd    #cfa263 #331a00
                #e7d1b1 #eddcc4 #4d1f00
                        #f3e8d8 #1a0a00
                        #fef5e6 #311f02
                        #f7f3ed 
*/

html {
  scroll-behavior: smooth;
}

/* width */

::-webkit-scrollbar {
  width: 15px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #bbb;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #eee;
  border: 1px solid #ccc;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}

.navbar {
  background-color: #eee;

  color: #222831;
  padding: 0.8rem 0;
  border: 1px solid #ddd;
}

.nav-item {
  margin: 0;
  text-align: left;
  font-size: 1.1rem;
  font-family: "Ruda", sans-serif;
  padding-left: 1rem;
  color: #222831;
  font-weight: 700;
}

.nav-link {
  color: #222831;
  text-transform: uppercase;
  font-family: "Ruda", sans-serif;
  font-weight: 900;
  font-size: 0.9rem;
}

.nav-link:hover {
  color: #bb3b0e;
}

.nav-link:active,
.nav-link:focus {
  background-color: #ddd;
  border-radius: 8px;
}

.right {
  float: right;
}

#navbar {
  /* overflow: hidden; */
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  /* z-index: 99; */
}

#img-logo {
  transition: 0.4s;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}

.submenu {
  font-weight: 700;
}

.navbar-brand {
  font-family: "Ruda", sans-serif;
  font-weight: 800;
  color: #222831;
  padding: 0 0.5rem;
  transition: 0.4s;
  font-size: 1.2rem;
}

.navbar-brand:hover {
  color: #bb3b0e;
  font-family: "Ruda", sans-serif;
  font-weight: 800;
}

.dropdown-menu {
  color: #222831;
  background-color: #eee;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0px;
  width: auto;
  top: 3rem;
  margin: 0px;
  border-radius: 8px;
}

.dropdown-menu a {
  padding: 0.5rem;
  text-decoration: none;
  color: #222831;
  text-transform: uppercase;
}

.dropdown:hover .dropdown-menu {
  color: #bb3b0e;
  background-color: #eee;
}

.dropdown {
  color: #222831;
  background-color: #eee;
  border-radius: 8px;
  /* display: inline-block; */
}

.dropdown:active,
.dropdown:focus,
.dropdown:target {
  border: 2px solid #ddd;
  background-color: #eee;
}

.dropdown-item {
  background-color: #eee;
  text-align: left;
  font-weight: 700;
  border-radius: 8px;
  padding: 0 1rem;
  margin: 0;
}

.dropdown-item:hover {
  color: #bb3b0e;
  background-color: #eee;
  border-radius: 8px;
  border: 1px solid #ccc;
  fill: #bb3b0e;
}

.dropdown-item .active {
  color: #bb3b0e;
  font-weight: 900;
  border-radius: 8px;
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:target {
  background-color: #eee;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.dropdown-item.active {
  background-color: #eee;
  border: 1px solid #ccc;
  color: #222831;
}

.drop-item {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ddd;
}

.main-title {
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  padding: 3rem 0 1rem 0;
  font-family: "Ruda", sans-serif;
}

.isDisabled {
  color: #999;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

.titles {
  color: #bb3b0e;

  margin-bottom: 2rem;
}

.main-hr {
  max-width: 200px;
  margin: 0 auto;
  border-radius: 3px;
  border-top: 4px solid #222831;
}

.main-home {
  display: block;
  margin: 5rem auto;
  position: relative;
  max-width: 800px;
  text-align: center;
  padding: 2rem 0;
}

.main-subtitle {
  font-size: 1.5rem;
  font-family: "Ruda", sans-serif;
  color: #222831;
  padding: 1rem 2rem;
  display: block;
  font-weight: 300;
}

svg {
  color: #222831;
}

svg:hover {
  fill: #bb3b0e;
}

a:hover {
  color: #bb3b0e;
}

.icon-language {
  width: 1.2rem;
  height: 1.2rem;
  padding: 0;
}

.navbar-header {
  vertical-align: middle;
  line-height: 50px;
  transition: 0.4s;
  width: 40% !important;
}
.bi-chevron-right {
  padding: 0;
  margin: 0 0 0.1rem -1rem;
}

.nav-arrow {
  width: 1rem;
  filter: invert(13%) sepia(3%) saturate(3458%) hue-rotate(177deg)
    brightness(95%) contrast(93%);
  margin: 0 0.1rem 0 -1rem;
  padding: 0;
}

.dropbottom {
}

.icons {
  padding: 0 0.5rem;
}

.icons-color {
  width: 2.5rem;
  height: 2.5rem;
}

.copyrights {
  font-weight: 300;
  font-size: 1rem;
  color: #777;
  padding: 1.5rem 0;
  text-align: center;
}

.div-icons {
  max-width: 100px;
  margin: 2rem auto 0;
}

.filter-virus {
  filter: invert(13%) sepia(3%) saturate(3458%) hue-rotate(177deg)
    brightness(95%) contrast(93%);
  width: 0.5rem;
  height: 0.5rem;
  position: relative;
  bottom: 0.1rem;
  margin: 0 0.5rem;
}

.fiocruz {
  width: 4rem;
  filter: invert(13%) sepia(3%) saturate(3458%) hue-rotate(177deg)
    brightness(95%) contrast(93%);
  text-align: center;
  padding: 1.5rem 0;
  margin-right: 2rem;
}

.inova {
  width: 5rem;
  padding: 0;
  margin-right: 2rem;
}

.fiocruz:hover,
.inova:hover,
.agradecimentos-img:hover,
.hdruk:hover,
.icoda:hover,
.flaticon-img:hover {
  //filter: invert(26%) sepia(77%) saturate(659%) hue-rotate(299deg) brightness(88%) contrast(86%); rosa
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.icoda {
  width: 6rem;
  // height: 4rem;
  padding: 0;
  margin: 1rem 1.5rem 1rem;
}

.hdruk {
  width: 6rem;
  //height: 3rem;
  padding: 0;
  margin: 1rem 0 0 0;
  /* 160*57 */
}

.flaticon-img {
  width: 85%;
  //max-height: 3.5rem;
  margin: 0;
  padding: 0.5rem;
}

.jusbr {
  padding: 0;
  margin: 0;
}

.ufmg {
  padding: 0;
  margin: 0;
}

.cmup {
  object-fit: cover;
  padding: 0;
  margin: 0;
}

.card-agradecimentos {
  height: 100%;
}
.instituicao {
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  padding: 1rem;

  align-items: center;
}

.apoioh2 {
  font-size: 1.5rem;
  padding: 1rem 0;
  margin: 0;
}

.support {
  font-size: 1.1rem;
  font-weight: 400;
  text-align: left;
  padding: 1rem 0;
}
.navbar .container-fluid {
  padding: 0 2rem;
}

.footer {
  background-color: #eee;
  color: #222831;
  padding: 2rem 10rem;
  border: 1px solid #ddd;
}

hr {
  border-top: 10px dotted #ddd;
  width: 5%;
  margin: 2rem auto;
}

h1 {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: #222831;
}

body {
  line-height: 1.8;
  font-family: "Ruda", sans-serif;
  text-align: justify;
  font-size: 1rem;
}

h2 {
  font-weight: 900;
  font-size: 1.9rem;
  margin: 1rem 0;
  color: #222831;
}

h3 {
  font-size: 1.7rem;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  column-span: all;
}

h4 {
  font-size: 1.5rem;
  column-span: all;
  font-weight: 700;
}

iframe {
  border: none;
}

a {
  text-decoration: none;
  color: #30475e;
}

a:hover {
  font-weight: bold;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.media-left {
  width: 30%;
}

.media {
  display: flex;
  align-items: center;
}

.media .media-left {
  text-align: center;
}

.media-instituicao {
  height: 100%;
  align-items: center;
}

.img-covida {
  padding: 0.8rem;
  width: 70%;
}

.colaborators {
  column-count: 2;
  column-gap: 5rem;
  column-rule: 1px solid #ddd;
  padding: 2rem 4rem;
}

.colaborators h4 {
  margin-bottom: 0;
  text-align: center;
}

.div-media {
  margin: 3rem 0;
  border: 1px solid #ddd;
  border-radius: 16px;
}

.middle {
  border: 1px solid #eee;
  margin-top: 4rem;
  background-color: #f9f9f9;
  padding: 4rem 10rem 5rem;
}

.bottom {
  margin: 5rem 10rem;
}

.top {
  margin-top: 5rem;
  padding: 5rem 10rem 0;
}

.img-team {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #000;
  margin: 1rem auto;
  border: 1px solid #ddd;
}

.card-body {
  font-size: 0.9rem;
  padding: 1rem 2rem 0;
}

#acknowledge .card {
  text-align: center;
  padding: 0.5rem;
}

.card-header {
  text-align: center;
  padding-top: 10px;
  border-radius: 100%;
  width: 100%;
}

.card-header:first-child {
  border-radius: 16px;
}

.card,
.col {
  border-radius: 16px;
}

.card-ackn {
  padding: 0;
  margin: 0;
  width: 40%;
  border-right: 1px dashed #ddd;
}

.columns-team h2 {
  font-size: 1.3rem;
}

.columns-team {
  padding: 0;
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  /* max-width: 31%; */
  margin-bottom: 0rem;
}

.margin-bottom {
  margin-bottom: 3rem;
}

.ul-agradecimentos {
  list-style-type: none;
  padding: 0;
}

.ul-agradecimentos li {
  margin: 0;
}

#agradecimentos {
  margin: 0 0 5rem;
  padding: 0 10rem;
}

#agradecimentos h2 {
  margin-bottom: 4rem;
}
.cvbutton {
  background-color: #bb3b0e;
  border: none;
  color: white;
  padding: 0.4rem;
  margin: 0.5rem;
  width: 100%;
  border-radius: 16px;
}
.cvbutton:hover,
.cvbutton:focus,
.cvbutton:target {
  box-shadow: 0px 0px 0px 2px #f6a688;
  border: none;

  font-weight: 500;
}

.white {
  background-color: white;
  border: 0;
}

.destaque {
  text-transform: uppercase;
  font-weight: bold;
  color: #bb3b0e;
}

.destaque:hover {
  color: #007bff;
}

.intro {
  padding: 2rem 0.3rem;
  column-count: 2;
  column-gap: 5rem;
  column-rule: 1px solid #ddd;
  /* border: 1px solid black; */
}

.btn-about {
  padding: 0.2rem 1rem;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #59674c;
  border: none;
  color: white;
  padding: 0.4rem;
  border-radius: 16px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-about:hover {
  background-color: #333b2b;
  color: white;
}

.btn-about:active,
.btn-about:focus,
.btn-about:target {
  background-color: #333b2b;
  box-shadow: 0px 0px 0px 3px #b2bea7;
}

/* .row .columns-team:not(:first-child) {
    background-color: red;
} */

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }

  .navbar .nav-item:hover .nav-link {
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }

  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }

  .dropdown:hover .dropdown-menu {
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
  }
}

@media all and (max-width: 991px) {
  .navbar .nav-item:focus .dropdown-menu {
    display: block;
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }

  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }

  .dropdown:hover .dropdown-menu {
    border: 0;
  }
  .navbar-header {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1065px) {
  .dropdown-content {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    right: 0;
    top: 0;
  }

  .dropdown-item {
    padding-left: 1rem;
  }

  .submenu {
    margin-left: 2rem;
  }

  .sub-drop {
    padding: 0;
    background-color: #900d0d;
  }

  .dropdown-submenu .dropdown-menu {
    margin-left: 5rem;
  }

  #projeto {
    column-count: 1;
  }

  h1 {
    font-size: 1.5rem;
  }
}
