/* 
filter to get color #900d0d
  filter: invert(11%) sepia(43%) saturate(6923%) hue-rotate(357deg) brightness(100%) contrast(93%); */

/* #007bff azul #423144 */

 #8D240F 
 #F7A621 
 #E74507 
 #FFDB10 #501400 #752D00 #984C09 cidacs 

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #892e2c;
}
.decreePlots {
  width: 100%;
  height: 300px;
  border: 1px solid #eee;
  border-radius: 8px;
  margin: 2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #742725;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 150px;
  overflow: scroll;
}

/* Left */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-color: #742725;
  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
  height: 15px;
  width: 16px;
  background-position: 5px 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='white'><polygon points='0,50 50,100 50,0'/></svg>");
}

/* Right */
::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-color: #742725;
  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
  height: 15px;
  width: 16px;
  background-position: 5px 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='white'><polygon points='0,0 0,100 50,50'/></svg>");
}

#txt-logo {
  transition: 0.4s;
}

#img-logo {
  transition: 0.4s;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  margin-right: 1rem;
}
.bi-chevron-right {
  padding: 0;
  margin: 0 0 0.2rem -1rem;
  fill: white;
}

.navbar {
  background-color: #892e2c;
  padding: 0.8rem 0;
  color: #f2f2f2;
}

.navbar-header {
  vertical-align: middle;
  line-height: 50px;
  width: 40% !important;
}

#logo-txt {
  transition: 0.4s;
  font-size: 1.2rem;
}

#navbarDropdown {
  padding: 12px 16px;
}

#navbar {
  /* overflow: hidden; */
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  /* z-index: 99; */
}

.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 8px;
  padding: 0;
}

.dropdown-content {
  display: none;
  width: auto;
  position: absolute;
  top: 3rem;
  padding: 0px;
  margin: 0px;
  right: -1rem;
}

.dropdown-header {
  font-size: 1rem;
  font-weight: 900;
  color: #eee;
  text-transform: uppercase;
  padding: 0.8rem 0 0.8rem 1rem;
  background-color: #742725;
}

.dropdown-menu.columns-2 {
  width: max-content;
}

.multi-column-dropdown {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  width: 100%;
}

.firstcol {
  width: 8rem;
  margin: 0;
  padding-right: 0px;
}

.secondcol {
  margin: 0;
  padding-right: 1rem;
}

.multi-column-dropdown li a {
  display: block;
  clear: both;
  line-height: 1.428571429;

  white-space: normal;
}
.mail .bi-envelope-fill {
  fill: white;
}
h6 {
  margin: 0;
}

.mail .bi-envelope-fill:hover {
  fill: #892e2c;
}

.drop-item .itemcol {
  margin-left: 1rem;
}
.btn:focus {
  box-shadow: none;
}
.btn {
  text-decoration: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0px;
  width: auto;
  top: 2.8rem;
  margin: 0px;
  border-radius: 6px;
  background-color: #892e2c;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  text-align: left;
  // background-color: #892e2c;
  font-weight: 500;
  font-size: 0.9rem;
  color: #ddd;
  border-radius: 6px;
  padding: 0.5rem 1rem;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus {
  background-color: #742725;
  color: #fff;
  border-radius: 6px;
  border: 1px solid #60201f;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  margin: 0;
  text-align: left;
  font-size: 0.9rem;
  font-family: 'Ruda', sans-serif;
  font-weight: 500;
}

.nav-link {
  text-transform: none;
  font-family: 'Ruda', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  align-items: center;
  color: #ccc;
  margin: 0;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #fff;
}

.navbar-item {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.dropdown-item .active {
  /* color: #ECEFA4; */
  color: #fff;
  font-weight: 900;
  text-decoration: underline;
}

.isDisabled {
  color: #999;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

.dropdown-item.active {
  /* color: #ECEFA4; */
  color: #fff;
  font-weight: 900;
  background-color: #892e2c;
  border: 1px solid #60201f;
}

.nav-arrow {
  width: 1rem;
  filter: invert(99%) sepia(6%) saturate(893%) hue-rotate(248deg)
    brightness(120%) contrast(100%);
  margin: 0 0.2rem 0.1rem 0;
  padding: 0;
}

.navbar-brand {
  font-family: 'Ruda', sans-serif;
  padding: 0 0.5rem;
  color: #ddd;
  font-weight: 800;
  transition: 0.4s;
  font-size: 1.2rem;
  text-decoration: none;
}

.navbar .container-fluid {
  padding: 0 2rem;
}

.navbar-brand:hover {
  color: #fff;
  padding: 0 0.5rem;
  font-weight: 800;
  text-shadow: 0 0 2px white;
}

.arrow {
  width: 1rem;
  float: right;
}

.top-content {
  padding: 5rem 10rem;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}

.img-carousel {
  width: 15rem;
}

.language {
  width: 1rem;
  padding: 0rem;
}

.top {
  margin-top: 4rem;
  padding: 5rem 10rem 0;
}

.container {
  padding: 1rem;
}

.text {
  padding: 2rem;
}

.pesquisadores {
  font-size: 1rem;
  font-family: 'Ruda', sans-serif;
  font-weight: 700;
}

.cite {
  font-size: 1rem;
  font-weight: 900;
  color: #222831;
}
.div-cite {
  line-height: 1.1;
}

.img-fiocruz {
  width: 11rem;
  margin: auto;
  /* border: 1px solid white; */
}

.img-fiocruz:hover {
  filter: invert(99%) sepia(6%) saturate(893%) hue-rotate(248deg)
    brightness(120%) contrast(100%);
}

.img-cidacs {
  width: 11rem;
  margin: auto;
  /* border: 1px solid white; */
}

.img-cidacs:hover {
  filter: invert(99%) sepia(6%) saturate(893%) hue-rotate(248deg)
    brightness(120%) contrast(100%);
}

.title {
  margin-top: 2rem;
  text-align: left;
  padding: 5rem 10rem;
}

.row-title {
  padding: 2rem 8rem;
  margin-bottom: 4rem;
  display: table;
}

.middle {
  margin-top: 4rem;
  background-color: #f8f8f8;
  padding: 4rem 10rem 5rem;
  border: 1px solid #ddd;
}

.middle-white {
  margin: 2rem 0 10rem;
  padding: 4rem 10rem 0rem;
}

hr {
  border-top: 10px dotted #ccc;
  width: 5%;
  margin: 2rem auto;
}

.hr-news {
  border-top: 10px dotted #ccc;
  width: 5%;
  margin: 4rem auto 0;
}

.link-back {
  float: right;
  padding: 0.5rem 1rem;
  border: 1px solid #892e2c;
  border-radius: 16px;
}
.link-back:hover {
  background-color: #892e2c;
  color: white;
}

.artigos {
  font-weight: 900;
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin-top: 2rem;
}

#artigos {
  background-color: #fff;
  margin-top: 1rem;
}

ol li::marker {
  font-weight: 900;
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  color: #dd6731;
  margin-left: -1em;
  display: inline-block;
}

.w3-blue-grey {
  background-color: #892e2c !important;
}
.w3-light-grey {
  color: #dd6731 !important;
  border: 1px solid #dd6731 !important;
  border-radius: 8px;
  background-color: #fff !important;
  margin: 0 1rem;
}
.w3-light-grey:hover {
  color: #fff !important;
  border: 1px solid #af4b1d !important;
  background-color: #dd6731 !important;
}
.w3-light-grey:focus,
.w3-light-grey:active {
  box-shadow: 0 0 0 1px red;
}
.myNotes {
  width: 100%;
}
.authors {
  text-align: right;
  font-weight: 400;
  column-span: all;
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 3rem;
}

.newauthors {
  text-align: right;
  font-weight: 900;
  column-span: all;
  font-size: 1.2rem;
  color: #dd6731;
  font-family: 'Raleway', sans-serif;
}

.bottom {
  padding: 5rem 10rem;
}

.intro {
  padding: 5rem 10rem;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  column-count: 2;
  column-gap: 5rem;
  column-rule: 1px solid #ccc;
  line-height: 1.5;
  overflow: visible;
  /* border: 1px solid black; */
}

.intro p {
  margin-y: 0;
}

#projeto {
  column-count: 3;
}

.img-title {
  width: 12rem;
  height: 7rem;
  filter: grayscale(80%);
}

h1 {
  font-size: 2.2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #892e2c;
  column-span: all;
}

.intro h1,
.top h1 {
  margin-bottom: 3rem;
}

.top-content h1 {
  margin-bottom: 4rem;
}

/* #007bff */
.destaque {
  text-transform: uppercase;
  font-weight: bold;
  color: #892e2c;
}

.img-background {
  margin-bottom: 3rem;
  padding: 5rem 0;
  border-radius: 16px;
}

.banner-covid {
  width: 100%;
  margin-top: 4rem;
  padding: 0;
}

.img1 {
  background-image: url('../img/virus.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.img2 {
  background-image: url('../img/platform.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  border: 1px solid #990000;
}

.img3 {
  background-image: url('../img/boletim.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  margin-bottom: 3rem;
  padding: 2rem 0;
  border-radius: 16px;
}

.imgbgBoletim2 {
  background-image: url('../img/background-boletim2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  margin-bottom: 3rem;
  padding: 2rem 0;
  border-radius: 16px;
}

.img3:hover {
  box-shadow: 0 0 8px black;
}

.github-img {
  width: 6rem;
}

.github-img:hover {
  filter: invert(0%) sepia(0%) saturate(5807%) hue-rotate(242deg)
    brightness(85%) contrast(105%);
}

.bgselect {
  background-image: url('../img/layers.png');
  background-repeat: space;
}
.bggray {
  background-color: #eee;
}

.selectbox {
  background-color: #ff0000;
  margin: 5rem auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 60%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 16px;
}

.w3-btn {
  border-radius: 16px;
}
.w3-content {
  max-width: none;
}
.h1sel {
  color: red;
  margin: 0 auto;
  padding: 0;
  font-size: 1rem;
  border-color: red;
}

.destaque:hover {
  text-decoration: none;
  color: #892e2c;
}

.footer {
  background-color: #eee;
  color: #222831;
  padding: 2rem 10rem;
  border: 1px solid #ddd;
}

.foot-link {
  color: #fff;
}

body {
  line-height: 1.8;
  font-family: 'Ruda', sans-serif;
  text-align: justify;
  font-size: 1rem;
}

.h1main {
  text-align: center;
  font-size: 2rem;
}

.carousel-controls {
  position: relative;
  width: 10%;
  margin: 3rem auto;
}

.carousel-indicators {
  top: 0px;
}

.carousel-item {
  padding: 0 20px 0 0;
}

.control-img {
  margin: 1rem auto;
  width: 2rem;
}

.div-media {
  margin: 3rem 0;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 4rem;
}

h2 {
  color: #892e2c;
  font-weight: 600;
  font-size: 1.7rem;
  margin: 1rem 0;
  column-span: all;
}

.row-video {
  display: flex;
  justify-content: space-around;
}

.col-video {
  padding: 2rem 3rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 48%;
  margin-bottom: 1rem;
}
.card-link {
  text-decoration: none;
  color: #000;
}

.bi-caret-down-fill {
  float: right;
  margin-top: 0.4rem;
  width: 20px;
  height: 20px;
}
.principal {
  fill: #892e2c;
}
.principal:hover {
  fill: #742725;
}

.edition {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.container h1 {
  padding: 60px 0;
  color: #fff;
  font-size: 44px;
  text-align: center;
}

.middle-white h2 {
  margin-bottom: 2rem;
}

.data-summary {
  margin-bottom: 5rem;
}

.card {
  border-radius: 16px;
}

.card-body {
  padding: 5rem;
}

.card-text {
  padding: 0;
}

.data-card {
  margin-bottom: 3rem;
  border-radius: 16px;
  overflow: hidden;
}

.data-header {
  padding: 0.2rem 1rem;
  background-color: #dd6731;
  border-radius: 16px 16px 0 0;
  color: #fff;
}

.card-header {
  border-radius: 16px 16px 0 0;
}

.data-button:hover {
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1);
  background-color: #ddd;
  border-radius: 0 0 16px 16px;
  color: #222;
}

.card-title {
  text-align: left;
  font-size: 1.1rem;
  align-items: center;
  margin: 0;
  text-decoration: none;
  font-weight: 700;
  padding: 0.8rem 0 0.8rem 1rem;
  border-radius: 16px 16px 0 0;
}

.data-footer {
  padding: 0;
}

.data-body {
  padding: 1rem 2rem;
}

.list-group-item {
  padding-left: 2rem;
}

.newssub {
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding: 2rem 0;
  color: #892e2c;
}

.img-text {
  color: #fff;
  padding: 0 1rem;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-shadow: 2px 2px 5px #222831;
}

.boletim {
  color: #fff;
  padding: 0 1rem;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-shadow: 2px 2px 5px #222831;
  text-align: center;
}

.container-video {
  width: 100%;
  margin: 2rem 0;
}

.doi {
  padding: 0rem;
  margin: 0.5rem 0 2rem;
  box-shadow: 0 0 5px #ffffff;
}

.videoThumb {
  width: 100%;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  padding: 0;
}

.img-video {
  width: 100%;
  border-radius: 16px;
}
.img-webnar {
  border-radius: 16px;
  width: 300px;
}
.img-evt {
  width: 50%;
  border-radius: 16px;
}

.video-evt {
  align-items: center;
  width: 80%;
  height: 75vh;
}

.videoTitle {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
}

.embed-responsive {
  width: 85%;
  margin: 2rem auto;
}
.video-intro {
  padding: 0;
  width: 100%;
  border-radius: 16px;
}

.middle-video {
  margin-top: 4rem;

  padding: 4rem 10rem;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.drop-item {
  margin: 0;
  padding: 0 0.8rem;
  border-bottom: 1px solid #742725;
  // border-bottom: 1px solid yellow;
}

.custom-toggler.navbar-toggler {
  border-color: #fff;
}

.navbar-toggler {
  display: inline;
}

.mail {
  margin-left: 3rem;
  padding: 0.8rem;
  background-color: #222;
  border-radius: 16px;
}

.construction {
  margin: 0 3rem 0 0;
  padding: 0.8rem;
  background-color: #ccc;
  border-radius: 16px;
}

.git {
  margin: 0 3rem 0 0;
  padding: 0.8rem;
  background-color: #222;
  border-radius: 16px;
}

.media {
  align-items: center;
}

.download {
  align-items: center;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 16px 16px 0 0;
  justify-content: space-between;
}

.media-left h3 {
  padding: 0;
  margin: 0;
}

h5 {
  text-decoration: none;
}

.dados-icon {
  margin: 0;
  display: inline;
}

.dados-img {
  border-radius: 100%;
  border: 1px solid #ccc;
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 2rem;
  padding: 0.2rem;
}

.dados-text {
  line-height: 5rem;
  margin: 0;
  padding: 0;
}
.dado-subitem {
  margin: 2rem 0;
  border: 1px solid #bbb;
  border-radius: 16px;
}

.play-btn {
  width: 20%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  fill: #dd6731;
}

.play-btn:hover {
  fill: #222831;
}

.close-btn {
  width: 2rem;
  position: absolute;
  right: 0;
  top: 5%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  fill: #dd6731;
  -webkit-filter: drop-shadow(0px 0px 2px #000);
}

.close-btn:hover {
  fill: #222831;
}

#videoPlayer,
#videoPlayer1 {
  display: none;
}

.small-img .play-btn {
  width: 5rem;
}

.h2-titles {
  font-size: 1.9rem;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 5rem;
  font-weight: 900;
  color: #892e2c;
  column-span: all;
}

h3 {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  column-span: all;
}

.h3-videos {
  font-size: 1.6rem;
  padding: 2rem 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  column-span: all;
  color: #dd6731;
}

h4 {
  font-size: 1.3rem;
}

iframe {
  border: none;
}

a {
  color: #dd6731;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: #c55420;
}

@media only screen and (max-width: 992px) {
  .dropdown-content {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    right: 0;
    top: 0;
  }

  .dropdown-item {
    // padding: 0.2rem 0 0.2rem 0.5rem;
    font-size: 0.8rem;
    font-weight: 700;
  }

  .submenu {
    margin-left: 2rem;
    font-weight: 500;
  }

  .dropdown-submenu .dropdown-menu {
    margin-left: 5rem;
  }

  #projeto {
    column-count: 1;
  }

  h1 {
    font-size: 1.5rem;
  }

  .navbar-brand {
    font-size: 0.9rem;
  }

  .dropdown-menu.multi-column {
    min-width: 240px !important;
    overflow-x: hidden;
  }

  .rowmulticol {
    width: 100%;
  }
  .navbar-header {
    width: 100% !important;
  }
  .intro {
    column-count: 1;
  }
}

* {
  box-sizing: border-box;
}

.columns {
  /* float: left; */
  width: 100%;
  display: inline-block;
  float: none;
  /* padding: 8px; */
}

.price {
  list-style-type: none;
  /* border: 1px solid #eee; */
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container-fluid {
  padding: 0;
}

.columns:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.box-header {
  background-color: #892e2c;
  color: white;
  font-size: 1rem;
  margin: 0;
  font-weight: 700;
  border-radius: 16px 16px 0 0;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.price li {
  /* border-bottom: 1px solid #eee; */

  text-align: center;
  line-height: 1.5;
  align-items: center;
}

.grey {
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem;
  color: #222831;
}

.body-news {
  padding: 2rem 1rem;
  border: 0;
  border: 1px solid #ccc;
  align-items: center;
  text-align: justify;
}

.truncate-carousel {
  width: 100%;
  line-height: 1.5rem;
  max-height: 7.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin: 0;
  padding: 0;
}

.truncate-header {
  width: 100%;
  line-height: 1.5rem;
  max-height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  padding: 0 1rem;
}

.box-footer {
  background-color: #808285;
  border: none;
  color: #fff;
  font-weight: 700;
  padding: 1rem;
  margin: 0;
  width: 100%;
  border-radius: 0 0 16px 16px;
}

.box-footer:hover {
  text-decoration: none;
  background-color: #dd6731;
}

.div-icons {
  max-width: 100px;
  margin: 2rem auto 0;
}
.icons {
  padding: 0;
}

.icons-color {
  width: 2.5rem;
  height: 2.5rem;
}

.filter-virus {
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.5rem;
  color: gray;
  text-align: center;
  /* filter: invert(99%) sepia(0%) saturate(2850%) hue-rotate(147deg)
    brightness(116%) contrast(73%); */
}
.copyrights {
  font-weight: 300;
  font-size: 1rem;
  color: #222831;
  padding: 1rem 0;
  text-align: center;
}

svg {
  fill: #222831;
}

svg:hover {
  fill: #892e2c;
}
.nota-img {
  display: block;
  width: 300px;
  float: left;
  margin: 1rem 2rem 1rem 0;
  border-radius: 8px;
}
.cvbutton {
  background-color: #892e2c;
  border: none;
  color: white;
  padding: 1rem;
  margin: 0;
  width: 100%;
  border-radius: 16px;
}

.data-button {
  background-color: #eee;
  border: none;
  color: #222831;
  padding: 0.5rem 1rem;
  margin: 0;
  width: 100%;
  border-radius: 0 0 16px 16px;
  display: block;
  text-align: center;
}

.button {
  background-color: #892e2c;
  border: none;
  color: white;
  padding: 1rem;
  margin: 0;
  width: 100%;
  border-radius: 8px;
}

.button:hover {
  background-color: #742725;
}

.abutton {
  color: white;
  text-align: center;
  margin: 0;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;
}

.abutton:hover {
  color: white;
  font-size: 1.2rem;
  font-weight: 900;
}

.team {
  width: 10rem;
  border-radius: 50%;
  margin-right: 6rem;
}

.team-txt {
  padding: 0.1rem 0 1.2rem;
}

.margin-bottom {
  margin-bottom: 4rem;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.ulBol {
  padding: 2rem 0;
}

.top-model {
  margin-top: 10rem;
  text-align: center;
}

.truncate {
  /**Major Properties**/
  line-height: 1.5rem;
  max-height: 4.5rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

table {
  padding: 0;
  font-size: 0.9rem;
  display: block;
  //overflow-x: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 0;
  margin-bottom: 0;
}

table.data {
  white-space: nowrap;
}

table.dic {
  //table-layout: fixed;
  //width: 100%;
  white-space: normal;
}
.table-div {
  margin: 2rem 1rem 4rem;
  overflow: auto;
  white-space: nowrap;
  max-height: 350px;
}

td,
th {
  border: 1px solid #ddd;
  padding: 0.3rem 1.1rem;
  text-align: left;
  line-height: 1;
}
/* #tableDic th {
  white-space: nowrap;
} */
#tableDic td {
  min-width: 250px;
  //word-wrap: break-all;
  //word-break: break-word;
  //overflow: hidden;
  //text-overflow: ellipsis;
  padding: 0.5rem 1.1rem;
}
#tableDic2 td {
  min-width: 250px;
  padding: 0.5rem 1.1rem;
}

#tableDic td:nth-child(even) {
  background-color: #f2f2f2;
}

#tableDic2 td:nth-child(even) {
  background-color: #f2f2f2;
}

table.data tr:nth-child(even) {
  background-color: #f2f2f2;
}

table.data tr:hover {
  background-color: #ddd;
}

.table-data th {
  padding-top: 12px;
  padding-bottom: 12px;
  z-index: 99;
  background-color: #dd6731;
  color: white;
}

.headcol {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
}

h4.data {
  margin: 4rem 0 1rem 1rem;
  font-size: 1.3rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #212529;
}

h2.data {
  color: #742725;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  padding-bottom: 2rem;
}

h3.data {
  color: #212529;
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  padding: 0;
  margin-left: 1rem;
}

.data-in {
  margin: 1rem;
}

.icon-language {
  width: 1rem;
  height: 1rem;
  padding: 0;
  fill: white;
}
