html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #900d0d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #423144;
}

.navbar {
  background-color: #900d0d;
}

.arrow {
  width: 1rem;
  float: right;
}

.top-content {
  padding: 5rem 10rem;
  background-color: #f2f2f2;
  /* border: 1px solid black; */
}

.img-carousel {
  width: 15rem;
}

.language {
  width: 3.5rem;
  padding: 1rem;
}

.top {
  margin-top: 3.5rem;
  padding: 5rem 10rem 0;
}

.navbar-brand {
  font-size: 1.5rem;
  font-family: 'Ruda', sans-serif;
  padding: 0.5rem;
}

.container {
  padding: 1rem;
}

.text {
  padding: 2rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #000;
}

.pesquisadores {
  font-size: 1rem;
  font-family: 'Ruda', sans-serif;
  font-weight: 700;
}

.cite {
  font-size: 1rem;
  font-weight: 900;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.img-fiocruz {
  width: 11rem;
  margin: auto;
  /* border: 1px solid white; */
}

.img-cidacs {
  width: 11rem;
  margin: auto;
  /* border: 1px solid white; */
}

.nav-item {
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Ruda', sans-serif;
  padding: 0 .5rem;
}

.title {
  margin-top: 5rem;
  text-align: left;
  padding: 5rem 10rem;
}

.row-title {
  padding: 2rem 8rem;
  margin-bottom: 4rem;
  display: table;
}

.team {
  width: 70%;
  border-radius: 100%;
  margin: 1rem auto;
}

.team-txt {
  padding: .1rem 0 1.2rem;
}

.columns-team {
  padding: 2.5rem 3rem;
  text-align: center;
  margin: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.middle {
  margin-top: 4rem;
  background-color: #f2f2f2;
  padding: 4rem 10rem 5rem;
}

.middle-white {
  margin-top: 2rem;
  padding: 4rem 10rem 5rem;
}

hr {
  border-top: 10px dotted #ccc;
  width: 5%;
  margin: 2rem auto;
}

.hr-news {
  border-top: 10px dotted #ccc;
  width: 5%;
  margin: 4rem auto 0;
}

.artigos {
  font-weight: 900;
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  padding-top: 2rem;
}

#artigos {
  background-color: #fff;
  margin-top: 1rem;
}

.authors {
  text-align: right;
  font-weight: 400;
  column-span: all;
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 2rem;
}

.newauthors {
  text-align: right;
  font-weight: 900;
  column-span: all;
  font-size: 1.2rem;
  color: #423144;
  font-family: 'Raleway', sans-serif;

}

.bottom {
  padding: 5rem 10rem;
}

.dropdown {
  opacity: .9;
}

.dropdown-content {
  background-color: #423144;
  display: none;
  width: auto;
  position: absolute;
  top: 3rem;
  padding: 0px;
  margin: 0px;
  right: -1.5rem; // I added this
}

.dropdown-item:hover {
  background-color: #900d0d;
  opacity: 1;
  font-size: 1.3rem;
}

.intro {
  padding: 5rem 10rem;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  column-count: 2;
  column-gap: 5rem;
  column-rule: 1px solid #ccc;
  /* border: 1px solid black; */
}

.colaborators {
  column-count: 2;
  column-gap: 5rem;
  column-rule: 1px solid #ccc;
  padding: 2rem 4rem;
}

.covida {
  width: 40%;
}

.img-covida {
  margin: 2rem 4rem;
}

.img-title {
  width: 300px;
  height: 130px;
  margin: 0.2rem 4rem 0 0;
  filter: grayscale(80%);
}

h1 {
  font-size: 2.2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #900d0d;
}

/* #007bff */
.destaque {
  text-transform: uppercase;
  font-weight: bold;
  color: #900d0d;
}

.img-background {
  margin-bottom: 3rem;
  padding: 5rem 0;
}

.img1 {
  background-image: url("../img/virus.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.img2 {
  background-image: url("../img/platform.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  border: 1px solid #990000;
}

.destaque:hover {
  text-decoration: none;
  color: #900d0d;
}

.footer {
  background-color: #423144;
  color: #fff;
  padding: 5rem 10rem;
}

.foot-link {
  color: #fff;
}

body {
  line-height: 1.8;
  font-family: 'Ruda', sans-serif;
  text-align: justify;
  font-size: 1rem;
}

.img-contruction {
  width: 300px;
}

.construction {
  margin: 2rem auto;
}

.carousel-controls {
  position: relative;
  width: 10%;
  margin: 3rem auto;
}

.carousel-indicators {
  top: 0px;
}

.control-img {
  margin: 1rem auto;
  width: 2rem;
}

h2 {
  color: #900d0d;
  font-weight: 400;
  font-size: 1.9rem;
  margin: 1rem 0;
}

.row-video {
  display: flex;
  flex-wrap: wrap;
}

.col-video {
  width: 50%;
  padding: 1rem 2rem;
}

.edition {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.container h1 {
  padding: 60px 0;
  color: #fff;
  font-size: 44px;
  text-align: center;
}

.card-body {
  padding: 5rem;
}

.card-header:hover {
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
  background-color: #ddd;
}

.newssub {
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding: 2rem 0;
  color: #900d0d;
}

.img-text {
color: #fff;
  padding: 0 1rem;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-shadow: 2px 2px 5px #000000;
}

.container-video {
  width: 100%;
  margin: 2rem 0;
}

.doi {
  padding: 0rem;
  margin: .5rem 0 2rem;
  box-shadow: 0 0 5px #ffffff;
}

.videoThumb {
  width: 100%;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.videoTitle {
  font-size: 1.5rem;
}

.embed-responsive-item {
  padding: 1rem 5rem;
  margin: 0 auto;
}

.embed-responsive {
  width: 85%;
  margin: 0 auto;
}

.middle-video {
  margin-top: 4rem;
  background-color: #f2f2f2;
  padding: 4rem 10rem;
}

.play-btn {
  width: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  /* border: 1px solid black; */
}

.play-btn:hover {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.close-btn {
  width: 3rem;
  position: absolute;
  right: 5%;
  top: 5%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.close-btn:hover {
  -webkit-filter: drop-shadow(5px 5px 5px #000);
  filter: drop-shadow(5px 5px 5px #000);
}

#videoPlayer {
  display: none;
}

.small-img .play-btn {
  width: 5rem;
}

.h2-titles {
  font-size: 1.9rem;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 2rem;
  font-weight: 900;
  color: #900d0d;
  column-span: all;
}

.github-img {
  width: 8rem;
}

h3 {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  column-span: all;
}

.h3-videos {
  font-size: 1.6rem;
  padding: 2rem 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  column-span: all;
  color: #423144;
}

h4 {
  font-size: 1.3rem;
}

iframe {
  border: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

@media only screen and (max-width: 1320px) {}

@media only screen and (max-width: 1065px) {
  .dropdown-content {
    padding: 0px;
    margin: 0;
    list-style: none;
    position: relative;
    right: 0;
    top: 0;
  }
}

* {
  box-sizing: border-box;
}

.columns {
  /* float: left; */
  width: 100%;
  display: inline-block;
  float: none;
  /* padding: 8px; */
}

.price {
  list-style-type: none;
  /* border: 1px solid #eee; */
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container-fluid {
  padding: 0;
}

.columns:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.header {
  background-color: #423144;
  color: white;
  font-size: 1.2rem;
  margin: 0;
}

.price li {
  /* border-bottom: 1px solid #eee; */
  padding: 1.7rem;
  text-align: left;
  line-height: 1.5;
}

.grey {
  background-color: #fff;
  font-size: 1.rem;
}

.button {
  background-color: #900d0d;
  border: none;
  color: white;
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}

.button:hover {
  text-decoration: none;
  color: #fff;
  background-color: #423144;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.flaticon-p {
  font-size: 1.2rem;
  text-align: left;
  padding-top: 3rem;
}

.flaticon-img {
  width: 8rem;
  margin: 0 0 .5rem .5rem;
}

.BUTTON_BMT {
  background: #900D0D;
  background-image: -webkit-linear-gradient(top, #900D0D, #423144);
  background-image: -moz-linear-gradient(top, #900D0D, #423144);
  background-image: -ms-linear-gradient(top, #900D0D, #423144);
  background-image: -o-linear-gradient(top, #900D0D, #423144);
  background-image: -webkit-gradient(to bottom, #900D0D, #423144);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 3rem;
  color: #FFFFFF;
  width: 20rem;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 2rem 2rem 0;
  padding: .2rem;
  -webkit-box-shadow: 1px 1px 20px 0 #423144;
  -moz-box-shadow: 1px 1px 20px 0 #423144;
  box-shadow: 1px 1px 20px 0 #423144;
  text-shadow: 1px 1px 20px #000000;
  border: solid #423144 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_BMT:hover {
  border: solid #423144 1px;
  background: #423144;
  background-image: -webkit-linear-gradient(top, #423144, #900D0D);
  background-image: -moz-linear-gradient(top, #423144, #900D0D);
  background-image: -ms-linear-gradient(top, #423144, #900D0D);
  background-image: -o-linear-gradient(top, #423144, #900D0D);
  background-image: -webkit-gradient(to bottom, #423144, #900D0D);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
}

.contact-me {
  padding-bottom: 5rem;
  column-count: 2;
  column-gap: 5rem;
  column-rule: 1px solid #ccc;
}

.contact-message {
  padding: 1rem 0;
}

.ulBol {
  padding: 2rem 0;
}
